/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.border{
    border: 1px solid rgb(180, 208, 231);;
}

.bold{
    font-weight: bold;
}

.link{
    margin-left: 5px;
    color: blue;
    text-decoration:underline ;
}

.line{
    width: 50px;
    margin: 40px 0;
    border-bottom: 1px solid rgb(180, 208, 231);
}

.c-gray{
    color: #999999;
}

/* Distanze */
.mb-10{
    margin-bottom: 10px;
}
 
.mb-20{
     margin-bottom: 20px;
}
 
.mb-30{
     margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
} 

.mb-50{
    margin-bottom: 50px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-70{
     margin-bottom: 70px;
}

.mt-50{
    margin-top: 50px;
}

/* Generics */

ul{
    list-style: none;
}

li{
    margin: 20px 0;
}

a{
    text-decoration: none;
}

i{
    margin-right: 5px;
}

section{
    padding-top: 70px;
}

img{
    display: block;
    max-width: 100%;
}

footer{
    background-color: black;
    margin-top: 100px;
    padding: 100px 0 50px;
}

/* Button */

.btn{
    display: inline-block;
}

.btn-primary{
    background-color: rgb(0, 97, 255);
    color: white;
}

.btn-secondary{
    color: black;
    background-color: white;
}

.btn-large{
    padding: 15px 25px;
}

.btn-small{
    padding: 5px 15px;
}

.btn-contattaci{
    padding: 15px 80px;
}

/* Header */

/* Navbar */

#main-header{
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}

#main-header  ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Main */

/* Jumbotron */

.row-jumbotron{
    display: flex;
    flex-wrap: wrap;
}

.jumbotron{
    padding-top: 80px;
    margin-bottom: 100px;
    background-color: rgb(180, 208, 231);
    height: 750px;
}

h1{
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 50px;
}

.col-30{  
    flex-basis: 30%;
}

.col-70{
    flex-basis: 70%;
}


/* Section Business */


.business > h2{
    font-size: 40px;
}

.fatturazione{
    font-size: 14px;
   display: flex;
   position: relative;
   gap: 65px;
}

.mensile{
    margin-left: 25px;
}

.fatturazione::before{
    content: "";
    border: 4px solid dodgerblue;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.annuale::before{
    content: "";
    border: 2px solid lightgray;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 200px;
}

.border > h3{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 208, 211);
}

h3 > i{
    margin-right: 5px;
}

.card-business > h4{
    font-size: 25px;
}

.card-business > h5{
    font-size: 15px;
}

.row-business{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col-business{
    flex-basis: calc(100% / 3 - 60px / 3);  
}

.card-business{
    padding: 30px;
}

.full-col{
    flex-basis: 100%;
}

.full-card{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.card-left{
    flex-basis: 70%;
}

.card-right > .btn-large{
    margin-left: 35px;
}

.card-right{
    flex-basis: 30%;
}

.fa-ul{
    margin-left: 25px;
}

.fa-check{
    color: #0061ff;
}

/* Section partner */

.partner{
    margin: 70px auto 70px;
    display: flex;
}

.col-40{
    flex-basis: 40%;
    padding: 50px;
}

.col-40 > .btn-secondary{
    font-size: 1.2rem;
    border: 1px solid black;
}

.col-60{
    flex-basis: 60%;
}

/* Sections operations */

.row-operations{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 150px;
}

.col-operations{
    flex-basis: calc(100% / 3);
    padding: 15px;
}

.card-operations > p{
  font-size: 1.2rem;
}

.operations > h3{
    font-size: 40px;
}

/* Section Company-Partner */

.center{
    padding: 40px;
}

.center img{
    width: 50%;
}

.company-partner{
    display: flex;
}

.col-company{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.box-company{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-company > img{
    width: 50%;
    filter: invert(1);
}

.bg-f5f5f5{
    background-color: #f5f5f5;
}

.bg-a2d39b{
    background-color: #a2d39b;
}

.bg-61082b{
    background-color: #61082b;
}

.bg-0093ce{
    background-color: #0093ce;
}

.bg-ff1c1c{
    background-color: #ff1c1c;
}

.bg-d5001f{
    background-color: #d5001f;
}

.bg-b4d0e7{
    background-color: #b4d0e7;
}

.bg-0d2481{
    background-color: #0d2481;
}

.bg-ffd830{
    background-color: #ffd830;
}

/* Section Azienza */

.azienda{
    background-color: rgb(180, 208, 231);
}

.row-azienda{
    padding: 120px 0;
    display: flex;
    position: relative;
}

.row-azienda > h2 {
    font-size: 50px;
    color: #61082b;
}
.row-azienda > .col-30{
    position: relative;
}

.col-30 > .btn-secondary{
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

/*  Section Faq */

.fa-chevron-down{
    position: absolute;
    right: 0;
    top: 50px;
}

.faq > h3 {
    padding: 50px 0;
    font-size: 40px;
    border-bottom: 1px solid #999999;
}

.faq-row{
    font-size: 20px;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid #999999;
    padding: 50px 0;
}

/* Footer */

.row-footer{
    display: flex;
} 

.col-footer{
    color: white;
    flex-basis: calc(100% / 5);
}

.col-footer > h6{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.footer-list a{
    color: white;
}

.line-footer{
    border-bottom: 1px solid white;
    width: 150px;
    margin: 40px 0;
}

.fa-sort-up{
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: middle;
}