/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    max-width: 920px;
    margin: 0 auto;
}

.btn{
    color: white;
    background-color: rgb(0, 97, 255);
    display: inline-block;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-70{
    margin-bottom: 70px;
}

.flex{
    display: flex;
}

.border{
    border: 2px dashed black;
}

.padding{
    padding: 20px;
}

/* Generics */

ul{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

section{
    padding: 100px 0;
}

img{
    display: block;
    max-width: 100%;
}

footer{
    background-color: black;
    height: 400px;
}

/* Header */

/* Navbar */

#main-header{
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}

#main-header  ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-small{
    padding: 5px 10px;
}

/* Main */

/* Jumbotron */

.jumbotron{
    padding-top: 80px;
    margin-bottom: 100px;
    background-color: rgb(180, 208, 231);
    height: 750px;
}

h1{
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 50px;
}

.btn-large{
    padding: 10px 20px;
}

.small-box{  
    flex-basis: 30%;
}

.large-box{
    flex-basis: 70%;
}


/* Section Business */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    height: 500px;
    background-color: red;
    flex-basis: calc(100% / 3);
    flex-grow: 1;    
}

.card{
    background-color: green;
    height: 400px;
}

/* Section partner */

/* Sections operations */

/* Section Team */

.team{
    height: 100px;
    background-color: blue;
}

/* Section Company-Partner */

.col-company{
flex-basis: calc(100% / 2);
background-color: red;
}

.side{
    flex-basis: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.center{
    height: 500px;
    flex-grow: 1;
}

/* Section Azienza */

.azienda{
    background-color: rgb(180, 208, 231);
}

/*  Section Faq */

.faq{
    height: 400px;
    background-color: yellow;
}

.faq-row{
    height: 100px;
    background-color: brown;
}

/* Footer */

.row-footer{
    height: 250px;
    background-color: blue;
    display: flex;
} 

.col-footer{
    background-color: green;
    flex-basis: calc(100% / 5);
    height: 200px;
}