/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.btn{
    color: white;
    background-color: rgb(0, 97, 255);
    display: inline-block;
}

.flex{
    display: flex;
}

.border{
    border: 1px solid rgb(208, 208, 211);
}

.padding{
    padding: 30px;
}

/* Distanze */
.mb-10{
    margin-bottom: 10px;
}
 
.mb-20{
     margin-bottom: 20px;
}
 
.mb-30{
     margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
} 

.mb-50{
    margin-bottom: 50px;
}

.mb-70{
     margin-bottom: 70px;
}


.mt-50{
    margin-top: 50px;
}

/* Generics */

ul{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

.link{
    margin-left: 5px;
    color: blue;
    text-decoration:underline ;
}

.line{
    width: 50px;
    margin: 40px 0;
    border-bottom: 1px solid rgb(180, 208, 231);
}

section{
    padding: 50px 0;
}

img{
    display: block;
    max-width: 100%;
}

footer{
    background-color: black;
    height: 400px;
}

/* Header */

/* Navbar */

#main-header{
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}

#main-header  ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-small{
    padding: 5px 10px;
}

/* Main */

/* Jumbotron */

.row-jumbotron{
    display: flex;
    flex-wrap: wrap;
}

.jumbotron{
    padding-top: 80px;
    margin-bottom: 100px;
    background-color: rgb(180, 208, 231);
    height: 750px;
}

h1{
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 50px;
}

.btn-large{
    padding: 15px 25px;
}

.col-30{  
    flex-basis: 30%;
}

.col-70{
    flex-basis: 70%;
}


/* Section Business */


h2{
    font-size: 40px;
}

h3{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 208, 211);
}

i{
    margin-right: 5px;
}

h4{
    font-size: 25px;
}

.price{
    font-weight: bold;
}

.mese{
    color: rgb(102, 102, 102);
}

h5{
    font-size: 15px;
}


li{
    margin: 20px 0;
}

.row-business{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col{
    flex-basis: calc(100% / 3 - 60px / 3);  
}

.card{
    padding: 30px;
}

.full-col{
    flex-basis: 100%;
}

.full-card{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.card-left{
    flex-basis: 70%;
}

.card-right{
    flex-basis: 30%;

}

.btn-xl{
    margin-left: 30px;
    padding: 15px 25px;
}

.btn-contattaci{
    padding: 15px 80px;
}

.bold{
    font-weight: bold;
}

.fa-check{
    color: #0061ff;
}

/* Section partner */

.partner{
    display: flex;
}

.col-40{
    flex-basis: 40%;
    padding: 50px;
}

.col-60{
    flex-basis: 60%;
}

.btn-partner{
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 1.2rem;
}

/* Sections operations */
.row-operations{
    display: flex;
    flex-wrap: wrap;
}

.col-operations{
    height: 500px;
    flex-basis: calc(100% / 3);
    flex-grow: 1;   
}

/* Section Team */

.team{
    height: 100px;
    background-color: blue;
}

/* Section Company-Partner */


.col-company{
flex-basis: calc(100% / 2);
background-color: red;
}

.side{
    flex-basis: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.center{
    height: 500px;
    flex-grow: 1;
}

/* Section Azienza */

.azienda{
    background-color: rgb(180, 208, 231);
}

/*  Section Faq */

.faq{
    height: 400px;
    background-color: yellow;
}

.faq-row{
    height: 100px;
    background-color: brown;
}

/* Footer */

.row-footer{
    height: 250px;
    background-color: blue;
    display: flex;
} 

.col-footer{
    background-color: green;
    flex-basis: calc(100% / 5);
    height: 200px;
}